@model ContactMgmtClient.Models.Contact

@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/Site.css" rel="stylesheet" />
@using (Html.BeginForm("edit", "contact"))
{

<div class="form-horizontal">
    <hr />
    @Html.HiddenFor(model => model.ContactId)
    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-12" style="padding-top:8px;">
            @Html.LabelFor(model => model.FirstName, new { @required = "true" })
            <span class="required">*</span>
            <span style="float:right;">:</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "First Name", @class = "form-control col-md-7 col-xs-12" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-12" style="padding-top:8px;">
            @Html.LabelFor(model => model.LastName, new { @required = "true" })
            <span style="float:right;">:</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.LastName, new { @placeholder = "Last Name", @class = "form-control col-md-7 col-xs-12" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-12" style="padding-top:8px;">
            @Html.LabelFor(model => model.Email, new { @required = "true" })
            <span class="required">*</span>
            <span style="float:right;">:</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email Id", @class = "form-control col-md-7 col-xs-12" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-2 col-sm-3 col-xs-12" style="padding-top:8px;">
            @Html.LabelFor(model => model.ContactNumber)
            <span style="float:right;">:</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(model => model.ContactNumber, new { @placeholder = "Phone Number", @class = "form-control col-md-7 col-xs-12" })
            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success a-btn-slide-text">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span><strong>Save</strong></span>
            </button>

            <button class="btn btn-warning" type="reset" onclick="location.href='@Url.Action("ListContacts", "Contact")'">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                <span><strong>Cancel (Home Page)</strong></span>
            </button>
        </div>
    </div>
</div>
    
        if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div><span class="errorSpan"><strong>@ViewBag.ErrorMessage</strong></span></div>
        }
     
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
